.app {
    min-height: 100vh;
    background: #0a0a0a;
    color: white;
}

main {
    padding-top: 75px;
}

section {
    min-height: 100vh;
    padding: 100px 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

section p {
    color: #00aaff;
    font-size: 20px;
}
